.form-score {
  margin-top: 50px;
}

#score_set1_1, #score_set1_2, #score_set2_1, #score_set2_2, #score_set3_1, #score_set3_2{
  width: 20%;
  margin-right: 15px;
  text-align: center;
}

.nifty_form {
  margin-top: 50px;
  margin-bottom: 50px;
}

#winner-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

#label-player1, #label-player2 {
  margin-right: 30px;
  font-size: 20px;
}

#score-table {
  margin-top: 50px;
}

#score-table-title {
  font-size: 20px;
}

#check-box-group-score {
  margin-top: 40px;
  font-size: 20px;
}

#check-box-group-score label {
  font-size: 20px;
}

#group-button-score{
  margin-top: 40px;
}

#label-give-up, #label-wo {
  margin-right: 30px;
}

#submit-button {
  margin-right: 20px;
}
